:root {
	--plazi-font-color: #4e565f;
	--plazi-highlight-color: #9BC134;
	--plazi-background-color: grey;
}

body {
	color: var(--plazi-font-color)
}

a { color: var(--plazi-font-color) }

/* custom plazi styles */
#mapContainer {
	border: 1px solid black;
	padding: 5px;
	/* margin-bottom: 20px; */
}

#mapid { height: 180px; }
#searchBtn {
	font-weight: 700;
	/* font-size: 18px; */
	text-transform: uppercase;
}
div.featured { 
	float: left; 
	padding: 20px; 
	border: 1px solid; 
	border-radius: 10px; 
	margin: 10px; 
	width: 200px; 
	max-width: 200px; 
	height: 200px;
	cursor: pointer; 
	font-weight: 800;
	font-size: 15px;
}

div.featured p.summary { 
	/* visibility: hidden; 
	display: none;  */
	font-weight: 200;
	font-size: small;
	color: var(--plazi-font-color);
}
div.featured:hover { 
	background-color: var(--plazi-background-color); 
}
div.featured:hover a {
	color: var(--plazi-font-color);
}
p.summary a { 
	/* visibility: visible; 
	display: block;  */
	color: #444; 
	font-weight: 200;
}
div.featured:hover p.summary a { 
	/* visibility: visible; 
	display: block;  */
	color: #fff; 
	text-decoration: none;
}

/* search form styles */
label { float: left; width: calc(100% - 150px); }
input.searchInput { width: 100%; padding: 10px; margin: none; background-color: white; }
input.searchBtn { display: block; width: 150px; }
details p { margin-left: 1rem; color: var(--plazi-font-color); }

/* tag customization */
.btn {
	background-color: var(--plazi-font-color);
}

.js .menu__list {
	z-index: 10000
}

h3 {
	color: var(--plazi-font-color);
}

/* breadcrumbs */
ol.nav {
	list-style: none;
	clear: both;
}
ol.nav li {
	float: left;
	margin-right: 5px;
}
ol.nav li:after {
	content: '→';
}
ol.nav li:last-of-type:after {
	content: '';
}
ol.nav li.active > a {
	color: var(--plazi-highlight-color);
}
/* end breadcrumbs */

figcaption {
	font-size: 80%;
}

ul.members {
	list-style: none;
	column-count: 1;
}
li.member {
	/* margin: 1rem 1.5rem; */
	margin: 1rem 0;
	width: 250px;
	float: left;
}

details > summary {
	font-weight: 800;
}

ul.projects {
	list-style: none;
}
li.project {
	clear: both;
	margin-left: -40px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
li.project img {
	width: 200px;
	float: left;
	margin-right: 1rem;
	border: 1px solid;
}
.tags {
	border-radius: 5px;
}

.pastEvent {
	color: lightgrey;
}
table{
	border: none;
	border-collapse:collapse;
	margin:2rem 0;
	text-align:left;
	width:100%;
}
th {
	font-weight: bold;
	text-align: center;
	background-color:#9BC134;
}
td, th {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: none;
	border-left: none;
	padding: 5px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
ul.event-details {
	list-style: none;
	background-color: #f5f5f5;
	border: 1px solid lightgrey;
	padding: 1rem;
}
table.event th {
	text-align: right;
}
table.event th,
table.event td {
	border: none;
	border-bottom: 1px solid lightgrey;
	background-color: white;
}
.widget-twitter {
	height: 400px;
	overflow-y: auto;
}

/* Larger than tablet */
@media (min-width: 800px) {
    ul.members {
		column-count: 3;
	}
}