:root {
	--plazi-font-color: #4e565f;
}

body {
	color: var(--plazi-font-color)
}

a { color: var(--plazi-font-color) }

/* custom plazi styles */
#mapContainer {
	border: 1px solid black;
	padding: 5px;
	/* margin-bottom: 20px; */
}

#mapid { height: 180px; }
#searchBtn {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}
div.featured { 
	float: left; 
	padding: 20px; 
	border: 1px solid; 
	border-radius: 10px; 
	margin: 10px; 
	width: 200px; 
	max-width: 200px; 
	height: 200px;
	cursor: pointer; 
	font-weight: 800;
	font-size: 15px;
}

div.featured p.summary { 
	/* visibility: hidden; 
	display: none;  */
	font-weight: 200;
	font-size: small;
	color:#444;
}
div.featured:hover { background-color: #9BC134; }
p.summary a { 
	/* visibility: visible; 
	display: block;  */
	color: #444; 
	font-weight: 200;
}
div.featured:hover p.summary a { 
	/* visibility: visible; 
	display: block;  */
	color: #fff; 
	text-decoration: none;
}

/* search form styles */
label { float: left; width: calc(100% - 150px); }
input.searchInput { width: 100%; padding: 10px; margin: none; background-color: white; }
input.searchBtn { display: block; width: 150px; }
details p { margin-left: 1rem; color: grey; }

/* tag customization */
.btn {
	background-color: grey;
}

.js .menu__list {
	z-index: 10000
}